<%= simple_form_for(@project, html: { class: 'form-horizontal' }) do |f| %>
	<div class="form-group">
		<%= f.input :image %>
	</div>

	<div class="form-group">
		<%= f.input :title, input_html: { class: 'form-control' } %>
	</div>

	<div class="form-group">
		<%= f.input :description, input_html: { class: 'form-control' } %>
	</div>
	
	<%= f.button :submit, class: "btn btn-primary" %>
<% end %>